.user-list {
  display: flex;
  padding-left: 1rem;
}

.user-list ul {
  list-style: none;
  padding: 0;
}

.user-list li {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.button {
  transform: translate(-15px, -15px);
}

.user-panel {
  margin: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
}

.comment-chip {
  display: inline-block;
  padding: 5px;
  background-color: #f0f0f0;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}
